

<header class="header-container">
    <div class="container">
        
        <div class="items-header">
            <div class="items-header__banking-items">
                <div class="items-header__banking-logo">
                    <img [src]="configHeader.imgUrl" alt="">
                </div>
                <div class="items-header__banking-name">
                    {{configHeader.bankingName}}
                </div>
            </div>
            <div class="items-header__banking-items">
                <div class="items-header__user-name">
                    {{configHeader.userName}}
                </div>
                <div class="items-header__close-icon" (click)="close()">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

    </div>
</header>