

<header class="header-container">
    <div class="container">
        
        <div class="items-header">
            <div class="banking-items">
                <div class="banking-logo">
                    <img [src]="configHeader.imgUrl" alt="">
                </div>
                <div class="banking-name">
                    {{configHeader.bankingName}}
                </div>
            </div>
            <div class="user-items">
                <div class="user-name">
                    {{configHeader.userName}}
                </div>
                <div class="close-icon">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

    </div>
</header>