@import '../../styles/typography';
@import '../../styles/colors';

.header-container{
    height: 6rem;
    background-color: $primary-green-color;
}

.items-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    &__banking-items{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__banking-name{
        font-family: Nunito, sans-serif;
        font-size: 22px;
        color: $primary-white-color;
        font-weight: 700;
        margin-left: 1rem;
    }
    
    &__banking-logo{
        width: 70px;
        margin-bottom: 4px;
    }
    
    &__banking-logo img{
        width: 100%;
    }
    
    &__user-name{
        font-family: Nunito, sans-serif;
        font-size: 18px;
        color: $primary-white-color;
        font-weight: 600;
        margin-right: 1rem;
    }
    
    &__close-icon{
        font-family: Nunito, sans-serif;
        font-size: 24px;
        color: $primary-white-color;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .banking-name{
        font-size: 16px;
        margin-left: 0.5rem;
    }

    .user-name{
        font-size: 14px;
        margin-right: 0.5rem;
    }
}