<header>
  <div class="header-container">
    <div class="logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Chromium_11_Logo.svg"
      />
    </div>
    <div class="username">
        @bamartinezd!
    </div>
  </div>
</header>
<div class="body">
    <h1>
        Any kind of content
    </h1>
</div>
<footer>
  <div class="footer-container">
    <div class="social">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
    <div class="links">
      <a href="#">Contact Us</a>
      <a href="#">Help</a>
      <a href="#">Accessible</a>
      <a href="#">Banking</a>
      <a href="#">Careers</a>
      <a href="#">Privacy</a>
    </div>
    <div class="copyright">©2021 AAcommunity</div>
  </div>
</footer>
